* {
    box-sizing: border-box;
}

.filters {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 1rem
}

.options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.options span {
    font-family: 'Roboto', sans-serif;
    font-size: .75rem;
    line-height: 1rem;
    color: #717171;
}

.options img {
    width: 1.5rem;
}